<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .jumbotron{
            margin: 20% 20%;
            height: 50%;
            width: 50%;
            text-align: center;
            font-weight: 500;
        }
        #pass,#gamil{
            /* align-items:center; */
            width: 100%;
            
        }
        .btn{
            background:#83E377 ;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-light" style="background-color:#83E377">
        
        <!-- <div class="topnav"> -->
            <ul class="navbar-nav mr-auto">
                <!-- <a class="navbar-brand" href="#home"><img src="C:\Users\dell\Desktop\logo.png" width="20" height="20" alt="hi" loading="lazy">
                </a> -->
                <li><a class="navbar-brand" href="F:\SIH_FRONT\front_page.html">Home</a></li>
                <li><a class="nav-link" href="F:\SIH_FRONT\dashboard.html">Dashboard</a></li>
                <li><a class="nav-link" href="#home">Contact</a></li>
                <li><a class="nav-link" href="F:\SIH_FRONT\disclaimer.html">Disclaimer</a></li>
                <li><a class="nav-link" href="F:\SIH_FRONT\FAQ.html">FAQ</a></li>
            </ul>
        <!-- </div> -->
    </ul> 
</nav>
    <div class="container">
        <div class="jumbotron">
            <form method="POST">
                <div class="form-group">
                    <label for="gmail">Email:</label>
                    <input id="gmail" class="form-control" type="email" name="email" placeholder="name@example.com" required='True' >
                </div>
                <div class="form-group">
                    <label for="pass">Password:</label>
                    <input id="pass" class="form-control" type="password" name="password"placeholder='password' required="True">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>